on: push
name: deploy
jobs:
  deploy:
    name: deploy to cluster
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: build and push to docker
      uses: docker/build-push-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        repository: ${{ github.repository }}
        tag_with_ref: true
        tag_with_sha: true
        tags: ${{ github.sha }}
    - uses: jtalk/k8s-deploy@v2
      with:
        namespace: 'myapp'
        manifests: |
            deployment.yaml
            service.yaml
        images: 'jtalk/myapp:${{ event.run_id }}'
        imagepullsecrets: |
          image-pull-secret1
          image-pull-secret2
        kubectl-version: 'latest'